<div *ngIf="products && products.length">
	<div class="row headers no-gutters">
		<div class="col-2">
			<button class="btn btn-sm" [ngClass]="{'btn-danger': showImage, 'btn-primary': !showImage}"
				(click)="toggleImage()">
				{{showImage?'Hide':'Show'}} images
			</button>
		</div>
		<div class="col-4">{{headers.description}}</div>
		<div class="col">{{headers.price}}</div>
		<div class="col">{{headers.available}}</div>
		<div class="col">{{headers.rating}}</div>
	</div>
	<product-item class="row no-gutters" *ngFor="let product of products | productFilter:filterSearch"
		[product]="product" [showImage]="showImage">
	</product-item>
</div>
